<%= content_tag :footer, id: "footer" do %>
  <div class="footer-div">
    <h3>Contact</h3>
    <ul>
      <li>About Us</li>
      <li>Press</li>
    </ul>
    <ul>
      <li>Deal Newsletter</li>
      <li>Carrers</li>
    </ul>
    <ul>
      <li>Help</li>
      <li>Contacts</li>
    </ul>
  </div>
  <div class="footer-div" style="width="800px"">
    <h3>Partner Services</h3>
    <ul>
      <li>Groupize Solution</li>
      <li>Add a Hotel</li>
    </ul>
    <ul>
      <li>Affiliate Program</li>
      <li>PRM Login</li>
    </ul>
  </div>
<% end %>
